{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow p-4">
      <h4>Edit Post</h4>

      <form method="post">
        <input class="form-control mb-3" name="title" value="{{ post.title }}" required>
        <textarea class="form-control mb-3" name="content" rows="6" required>{{ post.content }}</textarea>
        <button class="btn btn-dark">Update</button>
        <a href="/" class="btn btn-secondary ms-2">Cancel</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
